In [9]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)

# 選擇欄位
print(ironmen_df.loc[:, "groups"])
print("---") # 分隔線

# 選擇觀測值
print(ironmen_df.loc[0])
print("---") # 分隔線

# 同時選擇欄位與觀測值
print(ironmen_df.loc[0, "groups"])

0    Modern Web
1        DevOps
2         Cloud
3      Big Data
4      Security
5         自我挑戰組
Name: groups, dtype: object
---
groups     Modern Web
ironmen            59
Name: 0, dtype: object
---
Modern Web

In [10]:
ironmen_df = pd.DataFrame(ironmen_dict)

filter = ironmen_df["ironmen"] > 10 # 參賽人數大於 10
ironmen_df[filter] # 篩選 data frame

       groups  ironmen
0  Modern Web       59
2       Cloud       19
3    Big Data       14
5       自我挑戰組       77

In [11]:
filter

0     True
1    False
2     True
3     True
4    False
5     True
Name: ironmen, dtype: bool

In [15]:
import pandas as pd

gender = ["Male", "Male", "Female", "Male", "Male", "Male", "Female", "Male", "Male"]
name = ["蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "文斯莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克"]

# 建立 data frame
ironmen_df = pd.DataFrame(gender, columns = ["gender"], index = name)

# 計算男女各有幾個觀測值
pd.value_counts(ironmen_df.gender)

Male      7
Female    2
Name: gender, dtype: int64

In [16]:
ironmen_df

          gender
蒙其·D·魯夫     Male
羅羅亞·索隆      Male
娜美        Female
騙人布         Male
文斯莫克·香吉士    Male
多尼多尼·喬巴     Male
妮可·羅賓     Female
佛朗基         Male
布魯克         Male